<div class="imagen"><img src="https://a0.muscache.com/airbnb/growth/magic_carpet/curated_marquee/amsterdam_2x.jpeg"/></div>

<form (submit)="logUser(form)" #form="ngForm" class="formulario_login">
    <mat-form-field class="example-full-width">
      <input required matInput placeholder="E-mail" ngModel required name="correo" type="email" class="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" fxLayoutAlign="space-around center">
      <input required matInput placeholder="Password" ngModel required name="password" type="password" class="password">
    </mat-form-field>
    <button mat-button color="primary" type="submit">Log In</button>
  </form>
  <div *ngIf = "!logging; then servicioCompleto; else servicioNoCompleto"></div>
  <!-- {{mensaje}} -->

<ng-template #servicioCompleto>
    <div class="Mensaje"><br>{{mensaje}}</div>
</ng-template>

<ng-template #servicioNoCompleto>
    <app-loader></app-loader>
</ng-template>