.imagen
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img
{
    padding-bottom: 10px;
    width: 98%;
    height: 35%;
}

/* .formulario_login
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
} */

/* form
{
    text-align: center;
} */

.Mensaje
{
    font-family: Helvetica;
}