<app-titulo></app-titulo>
<!-- <app-color></app-color> -->
<table>
  <tr>
    <td>
      <app-contenido></app-contenido>
    </td>
    <td>
      <app-color></app-color>
      <app-color2></app-color2>
    </td>
  </tr>
</table>
<!-- <app-color2></app-color2> -->
<app-color [color] = "'red'" (cambia)="onCambia($event)"></app-color><br><br>
<button mat-icon-button type="button" (click)="getFotos()">GET FOTOS</button>
<img src="{{foto}}"/>
<!-- <app-color [color] = "'blue'" (cambia)="onCambia($event)"></app-color> -->


<!-- <div class="app-color"></div> -->
<!-- <div app-color></div> -->